.container{
    height: 500px;
    width: 800px;
    border: 2px solid black;
    display: flex;
    background-color: lightgrey;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    gap: 2px;
}

.item{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: pink;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
}