.box{
    height: 50px;
    width: 100%;
    background-color: green;
}
@media (min-width: 768px) {
    .box {
        background-color: skyblue;
    }
}

@media(min-width: 1024px){
    .box{
        background-color: red;
    }
}